/* Logins Page */

/*body {
}*/

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #04AA6D;
    color: white;
    /*padding: 14px 20px;
    margin: 8px 0;*/
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Solid border */
hr.solid {
    border-top: 3px solid #bbb;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

.avatar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
}

.PWerror {
    width: 100%;
    padding: 0px 0;
    text-align: left;
    color: red;
    margin-top: 0px;
    
}
